.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Inter", system-ui, sans-serif;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding: 24px 32px;
}

.header {
  composes: container;
}

.header a {
  text-decoration: none;
  font-weight: bold;
  font-size: var(--font-size-4);
  color: inherit;
}
.header a:hover,
.header a:focus {
  color: var(--link-hover-color);
}

.main {
  flex: 1 0 auto;
}

.footer {
  composes: container;
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-3);
}

.footer a {
  text-decoration: none;
  font-weight: bold;
  font-size: var(--font-size-2);
  color: inherit;
}

.footer a:hover,
.footer a:focus {
  text-decoration: underline;
  color: var(--link-hover-color);
}
